<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WebApiDbEntities" connectionString="metadata=res://*/WebApiDataModel.csdl|res://*/WebApiDataModel.ssdl|res://*/WebApiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IGNP-LPWDEV0004\SQLEXPRESS;initial catalog=WebApiDb;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WORKAHOLICEntities" connectionString="metadata=res://*/WorkaholicModel.csdl|res://*/WorkaholicModel.ssdl|res://*/WorkaholicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IGNP-LPWDEV0004\SQLEXPRESS;initial catalog=WORKAHOLIC;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WORKAHOLICdbEntities" connectionString="metadata=res://*/Workaholic.csdl|res://*/Workaholic.ssdl|res://*/Workaholic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IGNP-LPWDEV0004\SQLEXPRESS;initial catalog=WORKAHOLIC;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WORKAHOLICdbPeta" connectionString="Server=IGNP-LPWDEV0004\SQLEXPRESS;Database=WORKAHOLIC;User Id=sa;Password=123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>